.env



terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/google/3.5.0/linux_amd64/terraform-provider-google_v3.5.0_x5
terra.json
.terraform/providers/registry.terraform.io/hashicorp/google/4.43.0/linux_amd64/terraform-provider-google_v4.43.0_x5
.terraform/providers/registry.terraform.io/hashicorp/google-beta/4.43.0/linux_amd64/terraform-provider-google-beta_v4.43.0_x5
.terraform.lock.hcl

